body {
	background-color: black;
	font-family: Lato;
}

#map {
    height: 500px;
    width: 100%;
    color: white;
}

#top {
	display: inline;
	color: white;
}

h3 {
	float: left;
	padding-left: 12px;
	margin-top: -1px;
}

#location {
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 2px;
	cursor: pointer;
	padding-top: 5px;
}

a {
	text-decoration: none;
	color: lightblue;
}

li:first-child {
	padding-top: 10px;
}

li {
	color: white;
}

#icon {
	float: right;
	color: white;
	font-weight: bold;
	font-size: 2em;
	margin-top: -15px;
	margin-bottom: 5px;
	padding-right: 12px;
}

#tools {
	color: white;
	clear: both;
	padding: 0 10px;
	margin-bottom: 20px;
}

button {
	float: right;
	height: 26px;
	font-weight: bolder;
	font-size: 0.7em;
	border-radius: 5px;
	background-color: white;
	margin-top: 1px;
	padding: 3px 8px;
	cursor: pointer;
}

input {
	float: left;
	width: 12em;
	height: 20px;
	border-radius: 5px;
	padding-left: 10px;
	font-weight: bold;
	font-family: Lato;
	letter-spacing: 2px;
}

#info {
	color: white;
	padding: 5px 15px 15px 15px;
}

#info:empty {
	display: none;
}

#wiki {
	color: white;
	letter-spacing: 2px;
	font-weight: bold;
}

#autocomplete {
	display: block;
	clear: both;
}

.gm-style-iw {
	color: black;
}

@media only screen and (min-width: 725px) {
	#map {
		height: 800px;
	}

	input {
		width: 20em;
	}

	li {
		max-width: 40%;
	}

	#icon {
		margin-top: -8px;
	}

	button {
		float: left;
		margin-left: 15px;
	}
}
